table {
    width: 100%;
    cursor: pointer;
    color: black;
    tr.mat-row:hover {
        background: rgba($color: #000000, $alpha: 0.035);
    }
}

th.mat-sort-header-sorted {
    color: black;
}