<table mat-table [dataSource]="dataSourceTeachers" matSort class="mat-elevation-z8">

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> id </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <ng-container matColumnDef="firstname">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> firstname </th>
    <td class='data_cell' mat-cell *matCellDef="let element"> {{element.firstname}} </td>
  </ng-container>

  <ng-container matColumnDef="middlename">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> middlename </th>
    <td mat-cell *matCellDef="let element"> {{element.middlename}} </td>
  </ng-container>

  <ng-container matColumnDef="lastname">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> lastname </th>
    <td mat-cell *matCellDef="let element"> {{element.lastname}} </td>
  </ng-container>

  <ng-container matColumnDef="group_names">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> group_names </th>
    <td mat-cell *matCellDef="let element"> {{element.group_names}} </td>
  </ng-container>

  <ng-container matColumnDef="group_courses">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> group_courses </th>
    <td mat-cell *matCellDef="let element"> {{element.group_courses}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumnsTeachers"></tr>
  <tr mat-row (click)="alert(row)" *matRowDef="let row; columns: displayedColumnsTeachers;"></tr>
</table>
<mat-paginator [pageSizeOptions]="[10, 20, 50, 100]" showFirstLastButtons></mat-paginator>