<mat-tab-group>
  <mat-tab label="Добавление">
    <button mat-raised-button (click)="loadFixtures()">load fixtures</button>
    <button mat-raised-button (click)="deleteLearner(4)">deleteLearner(4)</button>
      <span>
          <mat-card>
            <mat-card-header>
              <mat-card-title>LOCAL_STORAGE_KEY</mat-card-title>
              <mat-card-subtitle>{{add_any.LOCAL_STORAGE_KEY}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <mat-form-field>
                    <mat-select placeholder="LOCAL_STORAGE_KEY" [(ngModel)]="add_any.LOCAL_STORAGE_KEY" name="LOCAL_STORAGE_KEY">
                      <mat-option *ngFor="let key of ['lessons', 'courses', 'groups', 'teachers', 'learners', 'grades']" [value]="key">
                        {{key}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
            </mat-card-content>
            <!-- <mat-card-actions>
              <button mat-button>Добавить</button>
            </mat-card-actions> -->
          </mat-card>
        </span>
    <span>
      <mat-card>
        <mat-card-header>
          <mat-card-title>{{card_title[0]}}</mat-card-title>
          <mat-card-subtitle>Тема: {{lesson.topic}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <mat-form-field>
            <input matInput [(ngModel)]="lesson.id" placeholder="id">
          </mat-form-field>
          <p></p>
          <mat-form-field>
            <input matInput [(ngModel)]="lesson.topic" placeholder="topic">
          </mat-form-field>
          <p></p>
          <mat-form-field>
            <input matInput [matDatepicker]="picker" placeholder="Дата урока: ММ/ДД/ГГ" (dateChange)="log_date($event)">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <p></p>
          <mat-form-field>
            <input matInput [(ngModel)]="lesson.homework" placeholder="homework">
          </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
          <!-- <button mat-button (click)="  lesson.id = ''; lesson.topic = ''; lesson.date = '';
              lesson.homework = '';">Добавить</button> -->
        </mat-card-actions>
      </mat-card>
    </span>
    <span>
      <mat-card>
        <mat-card-header>
          <mat-card-title>{{card_title[5]}}</mat-card-title>
          <mat-card-subtitle>Тема: {{grade.lesson_id}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <mat-form-field>
            <input matInput [(ngModel)]="grade.learner_id" placeholder="learner_id">
          </mat-form-field>
          <p></p>
          <mat-form-field>
            <input matInput [(ngModel)]="grade.lesson_id" placeholder="lesson_id">
          </mat-form-field>
          <p></p>
          <mat-form-field>
            <mat-select placeholder="grade" [(ngModel)]="grade.grade" name="grade">
              <mat-option *ngFor="let grade of grade_values" [value]="grade">
                {{grade}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
          <!-- <button mat-button (click)="addItem('grade'); grade.learner_id = ''; grade.lesson_id = '';
                grade.grade = '';">Добавить</button> -->
        </mat-card-actions>
      </mat-card>
    </span>
    <span>
      <mat-card>
        <mat-card-header>
          <mat-card-title>{{card_title[1]}}</mat-card-title>
          <mat-card-subtitle>{{course.name}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <!-- <mat-form-field>
                <mat-select placeholder="lessons">
                  <mat-option *ngFor="let lesson of _lessons" [value]="course.lessons">{{lesson.id}}{{lesson.topic}}</mat-option>
                </mat-select>
              </mat-form-field> -->
          <mat-form-field>
            <input matInput [(ngModel)]="course.id" placeholder="id">
          </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
          <!-- <button mat-button (click)="addItem('course')">Добавить</button> -->
        </mat-card-actions>
      </mat-card>
    </span>
    <span>
      <mat-card>
        <mat-card-header>
          <mat-card-title>{{card_title[2]}}</mat-card-title>
          <mat-card-subtitle>subtitle</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <mat-form-field>
            <input matInput [(ngModel)]="lesson.id" placeholder="id">
          </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>Добавить</button>
        </mat-card-actions>
      </mat-card>
    </span>
    <span>
      <mat-card>
        <mat-card-header>
          <mat-card-title>{{card_title[3]}}</mat-card-title>
          <mat-card-subtitle>subtitle</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <mat-form-field>
            <input matInput [(ngModel)]="lesson.id" placeholder="id">
          </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>Добавить</button>
        </mat-card-actions>
      </mat-card>
    </span>
    <span>
      <mat-card>
        <mat-card-header>
          <mat-card-title>{{card_title[4]}}</mat-card-title>
          <mat-card-subtitle>subtitle</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <mat-form-field>
            <input matInput [(ngModel)]="lesson.id" placeholder="id">
          </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>Добавить</button>
        </mat-card-actions>
      </mat-card>
    </span>
  </mat-tab>
  <mat-tab label="Просмотр">
    <span *ngFor="let item of getobjects()">
      <span *ngIf="!(item === undefined)">
        <mat-card>
          <mat-card-header>
            <mat-card-title>{{card_title[0]}}: {{item.id}}</mat-card-title>
            <mat-card-subtitle>Тема: {{item.topic}}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
          <mat-list-item>Id: {{item.id}}</mat-list-item>
          <mat-list-item>Topic: {{item.topic}}</mat-list-item>
          <mat-list-item>Date: {{item.date}}</mat-list-item>
          <mat-list-item>Homework: {{item.homework}}</mat-list-item>
        </mat-card-content>
        </mat-card>
      </span>
    </span>
    <mat-divider>
    </mat-divider>
    <!-- <mat-grid-list *ngFor="let item of getobjects()" cols="10" rowHeight="1:1">
      <mat-grid-tile (click)="_alert()">{{item.topic}}</mat-grid-tile>
    </mat-grid-list> -->
    <!-- <span *ngFor="let item of getobjects('grades')">
        <span *ngIf="!(item.error)">
          <mat-card>
            <mat-card-header>
              <mat-card-title>{{card_title[5]}}: {{item.grade}}</mat-card-title>
              <mat-card-subtitle>Ученика: {{item.learner_Id}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
            <mat-list-item>Lesson_Id: {{item.lesson_id}}</mat-list-item>
            <mat-list-item>Learner_Id: {{item.learner_Id}}</mat-list-item>
            <mat-list-item>Grade: {{item.grade}}</mat-list-item>
          </mat-card-content>
          </mat-card>
        </span>
      </span> -->
  </mat-tab>
  </mat-tab-group>

<!-- <div>
    <mat-card>
      <mat-card-header>
        <mat-card-title>title</mat-card-title>
        <mat-card-subtitle>subtitle</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
  
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>Добавить</button>
      </mat-card-actions>
    </mat-card>
  </div> -->