// div {
//     display: flex;
//     justify-content: center;
//     margin: 10px;
//     mat-card-actions {
//         display: flex;
//         justify-content: center;
//     }
// }

span {
    display: inline-flex;
    justify-content: center;
    margin: 10px 5px;
    mat-card-actions {
        display: flex;
        justify-content: center;
    }
}

.mat-form-field {
    display: block;
}

mat-grid-tile {
    cursor: pointer;
    background: lightblue;
  }