<table mat-table [dataSource]="dataSourceLearners" matSort class="mat-elevation-z8">

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> id </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <ng-container matColumnDef="firstname">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> firstname </th>
    <td mat-cell *matCellDef="let element"> {{element.firstname}} </td>
  </ng-container>

  <ng-container matColumnDef="middlename">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> middlename </th>
    <td mat-cell *matCellDef="let element"> {{element.middlename}} </td>
  </ng-container>

  <ng-container matColumnDef="lastname">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> lastname </th>
    <td mat-cell *matCellDef="let element"> {{element.lastname}} </td>
  </ng-container>

  <ng-container matColumnDef="group_name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> group_name </th>
    <td mat-cell *matCellDef="let element"> {{element.group_name}} </td>
  </ng-container>

  <ng-container matColumnDef="group_courses">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> group_courses </th>
    <td mat-cell *matCellDef="let element"> {{element.group_courses}} </td>

  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumnsLearners"></tr>
  <tr mat-row  (click)="alert(row)" *matRowDef="let row; columns: displayedColumnsLearners;"></tr>
</table>

<mat-paginator [pageSizeOptions]="[10, 20, 50, 100]" showFirstLastButtons></mat-paginator>
<button mat-button (click)="opendialog()">Open dialog</button>