<mat-tab-group mat-align-tabs="center">
  <mat-tab label="Ученики">
    <app-journal-learners-table></app-journal-learners-table>
  </mat-tab>
  <mat-tab label="Учителя">
    <app-journal-teachers-table></app-journal-teachers-table>
  </mat-tab>
</mat-tab-group>
