<div>
  <mat-card _card>
    <mat-card-header>
      <mat-card-title>URL: {{_url}}</mat-card-title>
      <mat-card-subtitle>Not Found</mat-card-subtitle>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>
      <img src="https://cs4.pikabu.ru/images/big_size_comm/2015-05_2/14311088229659.png" width="350px">
    </mat-card-content>
    <mat-card-actions>
      <button mat-stroked-button color='accent' [routerLink]="[ '' ]" routerLinkActive="active">Go to homepage</button>
    </mat-card-actions>
  </mat-card>
</div>