$grade_cell_sise: 2.5rem;
$grade_cell_bg_color_intense: 0.05;
$grade_cell_bg_hower_color_intense: 0.2;
$grade_cell_bg_active_color_intense: 0.35;
@mixin grade_color ($color) {
  background: rgba($color: $color, $alpha: $grade_cell_bg_color_intense);
  &:hover {
    background: rgba($color: $color, $alpha: $grade_cell_bg_hower_color_intense);
  }
  &:active {
    background: rgba($color: $color, $alpha: $grade_cell_bg_active_color_intense);
  }
}

// mat-card {
//     width: 350px;
// }

table{
  width: auto;
  // border: 1px solid black;
  // border-collapse: collapse;
  th, td {
    padding: 0 0.5rem;
    // overflow: hidden;
    text-align: center;
    // border: 1px solid black;
    // border-collapse: collapse;
  }
  th {
    padding: 0;
    width: 8pc;
    text-align: start;
  }
}

._grade {
  width: $grade_cell_sise;
  height: $grade_cell_sise;
  font-size: ($grade_cell_sise - 1.5rem);
  cursor: pointer;
  background: #ffffff;
  display: inline-flex;
  justify-content: center;
  margin: 0;
  line-height: $grade_cell_sise;
  border: 0;
}

._grade_neutral {
    background: rgba($color: #000000, $alpha: 0.025);
  &:hover {
    background: rgba($color: #000000, $alpha: 0.045);
  }
  &:active {
    background: rgba($color: #000000, $alpha: 0.055);
  }
}

._grade_good {
  @include grade_color(#48ff48);
}

._grade_normal {
  @include grade_color(#379eff);
}

._grade_warning {
  @include grade_color(#ff8800);
}

._grade_bad {
  @include grade_color(#ff3232);
}