<mat-card>
   <mat-form-field>
        <mat-select placeholder="learner.id" [(ngModel)]="learner_id" name="learner.id">
            <mat-option *ngFor="let key of [0, 1, 2, 3, 4, 5, 6]" [value]="key">
              {{key}}
            </mat-option>
          </mat-select>
    </mat-form-field>
</mat-card>
<mat-card>
<mat-card-header>
    <mat-card-title>{{learner[learner_id].lastname}} {{learner[learner_id].firstname}} {{learner[learner_id].middlename}}</mat-card-title>
    <mat-card-subtitle>Id: {{learner[learner_id].id}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <table>
      <div *ngFor="let course of learner_courses_and_lessons.courses ; let i=index">
        <tr>
          <th rowspan="2">{{course.name}}</th>
          <td *ngFor="let lesson of course.lessons">{{lesson.date}}</td>
        </tr>
        <tr>
          <td *ngFor="let lesson of course.lessons">
            <span *ngFor="let grade of learner[learner_id].grades">
              <span *ngIf="grade.lesson_id == lesson.id" (click)="_click_grade($event, grade)">
                <span [ngClass]="{
                    '_grade _grade_neutral': true,
                    '_grade_good': grade.grade == 5,
                    '_grade_normal': grade.grade == 4,
                    '_grade_warning': grade.grade == 3,
                    '_grade_bad': grade.grade == 2 || grade.grade == 1
                }">
                  {{grade.grade}}
                  <div style="position: fixed" [style.left]="_click_gradeMenuPosition.x" [style.top]="_click_gradeMenuPosition.y"
                    [matMenuTriggerFor]="_click_gradeMenu" [matMenuTriggerData]="{item: item}">
                  </div>
                </span>
              </span>
            </span>
          </td>
        </tr>
        <mat-divider>
        </mat-divider>
      </div>

    </table>

  </mat-card-content>
  <mat-card-actions>
    <button mat-button [mat-dialog-close]>Закрыть</button>
  </mat-card-actions>
</mat-card>

<mat-menu #_click_gradeMenu="matMenu">
  <ng-template matMenuContent let-item="item">
    <span *ngFor="let _grade of grade_values">
      <button mat-menu-item (click)="updateGrade(item.lesson_id, item.learner_id, _grade)">
        <span [ngClass]="{
            '_grade _grade_neutral': true,
            '_grade_good': _grade == 5,
            '_grade_normal': _grade == 4,
            '_grade_warning': _grade == 3,
            '_grade_bad': _grade == 2 || _grade == 1
        }">{{_grade}}</span></button>
    </span>
  </ng-template>
</mat-menu>